# Ignore all logfiles and tempfiles.
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

# IDE config files
.idea
.github
.vscode
.DS_Store

docs/
hack/
migrations/

.env*
.gitignore
.golangci.yaml

Dockerfile
LICENSE
Makefile
README.md

artifacts/
bin/
tmp/
